//reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #f9fafb;
  .container {
    background-color: #fff;
    border-radius: 8px;
    width: 340px;
    margin: 120px auto 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    .product_pic {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .product_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px 16px;
      .tag {
        width: 67px;
        padding: 2px 8px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #bbf7d0;
        background: #f0fdf4;
        color: #15803d;
        border-radius: 9999px;
        margin-bottom: 16px;
      }
      .product_title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;
      }
      .product_description {
        font-size: 16px;
        color: #525252;
        margin-bottom: 24px;
      }
      .link {
        display: flex;
        a {
          color: #4338ca;
          margin-right: 5px;
        }
      }
    }
  }
}
